<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danny Nguyen</title>
</head>
<body>
    <h1>Welcome to Danny Site</h1>
    <h2>Who I am ??</h2>


    <ul>
        <li>My name: Danny Nguyen </li>
        <li>Year: Senior </li>
        <li>Major: Computer Science</li>
        <li>Hobbits: Playing and Cooking </li>
    </ul>        
</body>
</html>