<h1>McKenna's Page</h1>

<body>
    <h2>Random information about me:</h2>
    <p>
        I like cats
        I've taken COMP-4081
        In 4081, I made a JoJo's Bizarre Adventure blog
        I don't like coffee
        Green is my favorite color
        I'm 21 years old
        I'm minoring in math
        I've never seen Attack on Titan
        My favorite video game right now is Dead by Daylight
    </p>    
</body>