<h1>Directory of Student Pages</h1>

<ul>
<<<<<<< HEAD
    <li><%= link_to 'Danny080298', danny080298_path %></li>
</ul>
=======
    <li><%= link_to 'Danny080298', Danny080298_path %></li>
</ul>

<ul>
    <li><%= link_to 'username', username_path %></li>
</ul>
>>>>>>> 75aecc2a1ae472173c84f17596c08aabad6ca5bc
