<h1>Directory of Student Pages</h1>

<ul>

    <li><%= link_to 'heygo67', heygo67_path %></li>

    <li><%= link_to 'Danny080298', danny080298_path %></li>

    <li><%= link_to 'yahianahhas', yahianahhas_path %></li>
  
</ul>

